<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545691440940-l2nju4gh0suktgmaj6f92uditovi8han.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545691440940-l2nju4gh0suktgmaj6f92uditovi8han</string>
	<key>API_KEY</key>
	<string>AIzaSyCmcwRRjNFO-F19lOBpN77Wo2i_p2gBD7E</string>
	<key>GCM_SENDER_ID</key>
	<string>545691440940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuDienDongVat</string>
	<key>PROJECT_ID</key>
	<string>animal-dictionary</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-dictionary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545691440940:ios:467cb1a624d4ffd1aafe89</string>
</dict>
</plist>